*.pyc
*.log
config.properties
*~
*.csv
*.Identifier

mycar/build/
mycar/install/
mycar/log/

mycar_pc/build/
mycar_pc/install/
mycar_pc/log/

map/

car/src/build/
car/src/install/
car/src/log/
car/
#car/src/yahboomcar_base_node/
#car/src/yahboomcar_bringup/
#car/src/robot_localization/
#car/src/yahboomcar_ctrl/
#car/src/yahboomcar_description/
#car/src/py_install/

rag/data/lancedb/

Embedding/model/Qwen3_embedding-0.6b/
